<!--%load_js_plugin("jquery.fileupload")-->
<!--%load_js_plugin("ui")-->

<load target="https://cdn.jsdelivr.net/angularjs/1.4.0/angular.js"/>
<load target="https://cdn.jsdelivr.net/angularjs/1.4.0/angular-sanitize.min.js"/>
<load target="https://cdn.jsdelivr.net/jquery.autosize/3.0.6/autosize.min.js"/>
<load target="https://cdn.jsdelivr.net/angular.ui-sortable/0.13.4/sortable.min.js"/>
<load target="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"/>
<load target="./css/moedit.min.css"/>
<load target="./js/moedit.min.js"/>

<!--if($act === 'dispBoardReplyComment' ||-->

<block cond="is_array($moedit_config) === true && $moedit_config['include'] === true">



    <block cond="$moedit_config['type'] === 'document'">
        {@
        $upload_target_srl = $document_srl;
        }
    </block>

    <block cond="$moedit_config['type'] === 'comment' && $act === 'dispBoardReplyComment'">
        {@
        $upload_target_srl = 0;
        }
    </block>
    <block cond="$moedit_config['type'] === 'comment' && $act === 'dispBoardModifyComment'">
        {@
        $upload_target_srl = $comment_srl;
        }
    </block>

    <block cond="$moedit_config['new'] === true">
        {@
            $upload_target_srl = 0;
        }
    </block>

    <block cond="empty($upload_target_srl) || $upload_target_srl == 0">
        <?php

        if(isset($_SESSION['_editor_sequence_']) === false) $_SESSION['_editor_sequence_'] = 0;
        $_SESSION['_editor_sequence_']++;
        Context::set('moedit_editor_sequence', $_SESSION['_editor_sequence_'] );
        $_SESSION['_editor_sequence_']++;

        ?>
    </block>
    {@
    if(empty($moedit_editor_sequence) === true) $moedit_editor_sequence = $upload_target_srl;
    $oFileController = getController('file');
    $oFileController->setUploadInfo($moedit_editor_sequence, $upload_target_srl);
    }


</block>


<block cond="isset($moedit_config) ===false || is_array($moedit_config) === false">
    {@ $moedit_config = array(); }
</block>


<block cond="isset($moedit_url_host) === false">
    {@
    $moedit_url = Context::getDefaultUrl();
    $moedit_url = parse_url($moedit_url);
    $moedit_url_host = $moedit_url['host'];
    }
</block>


<div class="mobile-text-editor"
        data-module-type="{$module_type}"
        data-host ="{$moedit_url_host}" >
    <!-- 메인 글쓰기 창입니다 -->
    <textarea rows="7" cols="30" class="moedit-textarea" name="_content"></textarea>



    <!-- 개발용 -->
    <block cond="!$allow_fileupload">
        <div style="display: none">NO FILE</div>
    </block>


    <div class="moedit-submit" cond="$moedit_config['type'] === 'comment'">
        <button type="submit"><i class="xi xi-message"></i> {$lang->cmd_comment_registration}</button>
    </div>

    <block cond="true">
        <div class="mobile-text-editor-file-upload-wrapper">
            <div class="mobile-text-ediotr-upload-info"style="display: inline-block">
            </div>
            <div class="mobile-text-editor-button-wrap">
                사진/파일 올리기
                <input class="moedit-input" type="file" name="Filedata" multiple
                        accept="*/*;image/*;capture=camera"
                       data-editor-sequence="{''.$moedit_editor_sequence}"
                       data-target-srl="{$upload_target_srl}"
                       data-mid="{$mid}"
                        />
            </div>
        </div>
        <div class="mobile-text-editor-file-upload-progress">
            <div class="mobile-text-editor-file-upload-progress-label">
                업로드 대기중
            </div>
        </div>


        <!-- angular js 부분 입니다--->
        <div class="moedit-file-list" ng-controller="moeditController" ng-cloak >

            <div class="moedit-upload-info" ng-if="upload_touched === true" ng-bind-html="moedit_file_list.upload_status">
            </div>

             <ul  ng-model="moedit_file_list.files" ng-if="moedit_file_list.files.length >0">
                <li ng-repeat="file in moedit_file_list.files track by file.file_srl">

                    <img class="mobile-text-editor-preview-img" alt="preview"
                         ng-if="isimg(file)"
                         ng-src="{{file.download_url}}"  >
                    <div class="mobile-text-editor-preview-img-binary" ng-if="isimg(file)===false">
                        <i class=" xi-moedit xi-diskette"></i>
                    </div>
                    <div class="mobile-text-editor-file-info">
                       {{file.source_filename}}<br>
                        {{file.disp_file_size}}<br>
                        <span class="mobile-text-editor-file-info-msg">{{file.message}}</span>
                    </div>


                    <div class="moedit-file-delete" ng-click="delete_file(file)">
                        <i class="xi-moedit xi-close"></i>
                    </div>

                </li>
            </ul>
        </div>

    </block>

</div>
